.logo {
  width: 100vw;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkgoldenrod;
  font-size: 2.5rem;
  text-align: center;

  img {
    width: 25%;
    height: 45%;
  }
}
